name: build nextjs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches:
      - master
    paths:
      - web/nextjs/*

jobs:
  push:
    name: "yolks:nextjs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # Setup QEMU for ARM64 Build
      - uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v7.0.0-28
      
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: docker/build-push-action@v4
        with:
          context: ./web/nextjs
          file: ./web/nextjs/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/jsemolik/yolks:nextjs

